services:
#===================DHCP==========================
  ned:
    build: ./kea
    hostname: ned
    networks:
      stark_lan:
        ipv4_address: 192.168.10.100
    cap_add:
      - NET_ADMIN
    volumes:
      - ./ned/kea-dhcp4.conf.json:/etc/kea/kea-dhcp4.conf
      - ./ned/keaCons:/var/lib/kea
      - ./ned/keaLogs:/var/log/kea
#===================DHCP==========================
#===================DNS==========================
  arya:
    build: ./arya
    hostname: arya
    container_name: arya
    networks:
      stark_lan:
        ipv4_address: 192.168.10.9
        mac_address: 02:42:ac:11:00:ff  # direcci贸n HW fija
    volumes:
      - ./arya/conf/named.conf.options:/etc/bind/named.conf.options
      - ./arya/conf/named.conf.local:/etc/bind/named.conf.local
      - ./arya/conf/zonas:/var/cache/bind/zonas
#===================DNS==========================
#===================Stark.lan==========================
  bran:
    build: ./cliente
    container_name: bran
    networks:
      stark_lan:
        ipv4_address: 192.168.10.3
        mac_address: 02:42:ac:11:00:10  # direcci贸n HW fija
    cap_add:
      - NET_ADMIN
    command: >
      sh -c "dhclient -v eth0 && sleep infinity"

  cliente2:
    build: ./cliente
    networks:
      stark_lan:
        ipv4_address: 192.168.10.4
    cap_add:
      - NET_ADMIN
    command: >
      sh -c "dhclient -v eth0 && sleep infinity"
#===================Stark.lan==========================
#===================lannister.lan==========================
  cliente3:
    build: ./cliente
    networks:
      stark_lan:
        ipv4_address: 192.168.10.5
        mac_address: 02:42:ac:11:00:11  # direcci贸n HW fija
    cap_add:
      - NET_ADMIN
    command: >
      sh -c "dhclient -v eth0 && sleep infinity"

  cliente4:
    build: ./cliente
    networks:
      stark_lan:
        ipv4_address: 192.168.10.6
    cap_add:
      - NET_ADMIN
    command: >
      sh -c "dhclient -v eth0 && sleep infinity"
#===================lannister.lan==========================
#===================vboxnet1==========================
  cliente5:
    build: ./cliente
    networks:
      stark_lan:
        ipv4_address: 192.168.10.7
        mac_address: 02:42:ac:11:00:12  # direcci贸n HW fija
    cap_add:
      - NET_ADMIN
    command: >
      sh -c "dhclient -v eth0 && sleep infinity"

  cliente6:
    build: ./cliente
    networks:
      stark_lan:
        ipv4_address: 192.168.10.8
    cap_add:
      - NET_ADMIN
    command: >
      sh -c "dhclient -v eth0 && sleep infinity"
#===================vboxnet1==========================
#===================Redes==========================
networks:
  stark_lan:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.10.0/24

  # lannister_lan:
  # driver: bridge
  # ipam:
  #   config:
  #     - subnet: 192.168.11.0/24

  # vboxnet1:
  #   driver: bridge
  #   ipam:
  #     config:
  #       - subnet: 192.168.57.0/24
#===================Redes==========================